/* ----------------- Общие настройки ----------------- */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding: 0 calc(50% - 570px);
}


/* ----------------- Настройки для .header ----------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Styles for .header */
    height: 100px;
    border: 1px solid rgba(236, 236, 236, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header__left {
    display: flex;
    align-items: center;
}

.header__browse {
    padding: 10px;
    text-align: center;
    /*Text styles for "Browse" */
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(232, 232, 232, 1);
    border-right: none;
}

.header__browse:hover {
    background-color: rgba(232, 232, 232, 1);
    cursor: pointer;
}

.header__input_text {
    width: 281px;
    padding: 10px;
    /*Text styles for "Search..." */
    font-size: 14px;
    font-weight: 300;
    color: rgba(164, 164, 164, 1);
    letter-spacing: 0.03em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(232, 232, 232, 1);
    outline: none;
}

.header__search {
    width: 38px;
    height: 38px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(232, 232, 232, 1);
    border-left: none;
    outline: none;
}

.header__search:hover {
    background-color: rgba(232, 232, 232, 1);
    cursor: pointer;
}

.header__search:active {
    background-color: rgba(235, 235, 235, 1);
}

.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    /*Text styles for "BRAN" */
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo__img {
    margin-right: 13px;
}

.logo span {
    /*Text styles for "D" */
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header__cart {
    margin-right: 26px;
    vertical-align: middle;
}

.header__cart:hover {
    opacity: 0.7;
}

.header__cart:active {
    opacity: 0.4;
}

.button {
    width: 130px;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 38px;
    background-color: rgba(241, 109, 127, 1);
}

.fa-caret-down {
    margin-left: 8px;
}


/* ----------------- Настройки для .menu ----------------- */

.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__link {
    padding: 20px;
    display: block;
    /*Text styles for "Home Man..." */
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
}

.menu__link:hover {
    color: rgba(241, 109, 127, 1);
}


/* ----------------- Настройки для .slider ----------------- */

.slider {
    display: flex;
    align-items: center;
    height: 608px;
    background-image: url(img/2_index_slider/1_slider_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider__content {
    display: flex;
}

.slider__content_left {
    margin-right: 12px;
    width: 12px;
    background-color: rgba(241, 109, 127, 1);
}

.slider__content_right_1,
.slider__content_right_2 {
    color: rgba(34, 34, 34, 1);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.03em;
    line-height: 42px;
}

.slider__content_right_1 {
    font-size: 60px;
    line-height: 50px;
}

.slider__content_right_2 span {
    color: rgba(241, 109, 127, 1);
}


/* ----------------- Настройки для .banner ----------------- */

.banner {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

.banner__left_1 {
    background-image: url(img/3_index_banner/1_banner_left_up.png);
}

.banner__left_2 {
    background-image: url(img/3_index_banner/2_banner_left_down.png);
}

.banner__right_1 {
    background-image: url(img/3_index_banner/3_banner_right_up.png);
}

.banner__right_2 {
    background-image: url(img/3_index_banner/4_banner_right_down.png);
}

.banner__left_1,
.banner__right_2 {
    height: 542px;
    width: 560px;
}

.banner__left_2,
.banner__right_1 {
    height: 261px;
    width: 560px;
}

.banner__left_1,
.banner__right_1 {
    margin-bottom: 20px;
}

.banner__left_1,
.banner__left_2,
.banner__right_1,
.banner__right_2 {
    position: relative;
}

.banner__link_big {
    display: block;
    height: 542px;
    width: 560px;
}

.banner__link_small {
    display: block;
    height: 261px;
    width: 560px;
}

.banner_text {
    position: absolute;
    top: 26px;
    background-color: rgba(255, 255, 255, 1);
    padding: 16px 20px;
}

.banner_text h3,
.banner_text h1 {
    font-weight: 900;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.banner_text h3 {
    font-size: 18px;
    color: rgba(34, 34, 34, 1);
}

.banner_text h1 {
    font-size: 30px;
    color: rgba(241, 109, 127, 1);
}


/* ----------------- Настройки для .product ----------------- */

.product__featured {
    text-align: center;
}

.product__featured h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    line-height: 30px;
}

.product__featured p {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    letter-spacing: 0.03em;
    line-height: 14px;
    margin-top: 16px;
    margin-bottom: 60px;
}

.product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__items_1,
.product__items_2,
.product__items_3,
.product__items_4,
.product__items_5,
.product__items_6,
.product__items_7,
.product__items_8 {
    position: relative;
}

.product__items_hover {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 280px;
    width: 261px;
    background-color: rgba(58, 56, 56, 0.83);
}

.product__items_1:hover .product__items_hover,
.product__items_2:hover .product__items_hover,
.product__items_3:hover .product__items_hover,
.product__items_4:hover .product__items_hover,
.product__items_5:hover .product__items_hover,
.product__items_6:hover .product__items_hover,
.product__items_7:hover .product__items_hover,
.product__items_8:hover .product__items_hover {
    display: flex;
}

.product__items_hover a {
    line-height: 39px;
    text-align: center;
    width: 123px;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.product__items_hover a:active {
    opacity: 0.5;
}

.product__items_hover img {
    margin-right: 8px;
    vertical-align: middle;
    width: 22px;
}

.product__items_text h1 {
    font-size: 13px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
}

.product__items_text p {
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-transform: uppercase;
}

.product_button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.product_button .button {
    line-height: 48px;
    width: 212px;
}

i.fas.fa-long-arrow-alt-right {
    margin-left: 8px;
}


/* ----------------- Настройки для .feature ----------------- */

.feature {
    margin: 100px 0;
}

.feature_back {
    display: flex;
    justify-content: center;
    background-color: rgba(34, 34, 36, 1);
    height: 529px;
    width: 1140px;
}

.feature__left {
    background-image: url(img/5_index_feature/1_feature_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 529px;
    width: 770px;
}

.feature__left h1 {
    font-size: 54px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    padding-left: 40px;
    padding-top: 150px;
}

.feature__left h1 span {
    color: rgba(241, 109, 127, 1);
}

.feature__left h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    padding-left: 40px;
}

.feature__right {
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: rgba(34, 34, 36, 1);
    height: 529px;
    width: 370px;
}

.feature__right_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.feature__right_content {
    margin: 0 32px;
}

.feature__right_content h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
}

.feature__right_content h3 {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
}


/* ----------------- Настройки для .subscribe ----------------- */

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/6_index_subscribe/1_subscribe_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 438px;
}

.subscribe__left {
    display: flex;
    align-items: flex-start;
}

.subscribe__left_content {
    margin-left: 28px;
    width: 426px;
}

.subscribe__left_content p {
    font-size: 16px;
    font-style: italic;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.subscribe__left_content h1 {
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.subscribe__left_content h3 {
    font-size: 12px;
    font-weight: 300;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 14px;
}

.subscribe__left_slider {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.slider_button,
.slider_button_active {
    margin-top: 40px;
    height: 4px;
    width: 38px;
    background-color: rgba(214, 214, 214, 1);
}

.slider_button_active {
    background-color: rgba(241, 109, 127, 1);
}

.slider_button:hover {
    background-color: rgba(241, 109, 127, 1);
}

.subscribe__right h1 {
    font-size: 24px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 54px;
    text-transform: uppercase;
}

.subscribe__right h3 {
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
}

.subscribe__form {
    position: relative;
    margin-top: 46px;
}

.subscribe__input_text {
    height: 46px;
    width: 334px;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 23px;
    border: 0px solid black;
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 54px;
    outline: none;
    padding-left: 20px;
}

.subscribe_button {
    position: absolute;
    left: 250px;
    line-height: 46px;
    text-align: center;
    width: 104px;
    background-color: rgba(241, 109, 127, 1);
    border-radius: 0px 23px 23px 0px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}

.subscribe_button:hover {
    opacity: 0.7;
}

.subscribe_button:active {
    opacity: 0.4;
}


/* ----------------- Настройки для .footer ----------------- */

.footer_content {
    margin-top: 109px;
}

.footer_content__left {
    float: left;
}

.footer_content__left a {
    display: flex;
    align-items: center;
    width: 170px;
    font-size: 27px;
    font-weight: 300;
    color: rgba(62, 62, 64, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer_content__left a span {
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
}

.footer_content__left a img {
    margin-right: 13px;
}

.footer_content__left p {
    margin-top: 20px;
    width: 430px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(137, 137, 137, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
}

.footer_content__right {
    display: flex;
    justify-content: space-around;
}

.footer__list {
    list-style-type: none;
}

.footer__header {
    font-size: 18px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
    margin-bottom: 25px;
}

.footer__link {
    display: block;
    list-style-type: none;
    font-size: 16px;
    color: rgba(137, 137, 137, 1);
    letter-spacing: 0.03em;
    line-height: 45px;
}

.footer__link:hover {
    color: rgba(34, 34, 34, 1);
}

.footer_copyrights {
    clear: both;
    margin-top: 65px;
    background-color: rgba(230, 230, 230, 1);
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyrights__l p {
    font-size: 16px;
    color: rgba(122, 122, 122, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 42px;
}

.footer__social_links {
    line-height: 32px;
    margin-right: 8px;
    width: 32px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.footer__social_links:hover {
    background-color: rgba(241, 109, 127, 1);
}

.footer__social_links:active {
    opacity: 0.7;
}